
* {
    margin: 0;
    padding: 0;
}


.overhead {
    background-color: purple;
    height: 10px;
    width: 65%;
    margin: auto;
}
.header {
    height: 70px;
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background-color: grey;
}

.head {
    width: 200px;
    padding-top: 15px;
    padding-left: 20px;
}

.search {
    margin: auto;
    height: 25px;
    width: 60%;
    margin-right: 40px;
    border-style: solid;
    border-color: black;
}

.login {
    height: 22px;
    width: 50px;
    color: white;
    margin: auto;
    margin-right: 30px;
    background-color: purple;
    border-style: solid;
    box-shadow: 2px 2px 2px 2px black;
}

img {
    height: 35px;
    width: 35px;
}

.left {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.body {
    display: flex;
    margin: auto;
    width: 65%;
    margin-top: 20px;
    justify-content: space-between;
}

.l-vid {
    height: 350px;
    width: 500px;
    border-style: solid;
    border-color: black;
}

.sub-left {
    height: 115px;
    display: flex;
}

.r-vid {
    height: 90px;
    width: 120px;
    border-style: solid;
    border-color: purple;
}


.subscribe {
    height: 30px;
    width: 100px;
    margin: auto;
    color: white;
    background-color: purple;
    border-style: solid;
    box-shadow: 2px 2px black;
}

.btn {
    margin: auto;
    margin-right: 0;
}

.up {
    height: 30px;
    font-size: 20px;
    padding-top: 5px;
    border-bottom: solid;
}

.snow {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fan {
    margin-bottom: 5px;
    margin-top: 7px;
    margin-left: 5px;
}

.img {
    display: flex;
}

.sub-r-vid {
    display: flex;
}

.p-right {
    margin-top: 35px;
    margin-left: 10px;
}