* {
    margin: 0;
    padding: 0;
}

.upper {
    width: 50%;
    margin: auto;
    padding-left: 20px;
    color: white;
    background-color: black;
}

.lower {
    height: 60px;
    width: 703px;
    text-align: center;
    padding-top: 7px;
    margin: auto;
}

.user {
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background-color: pink;
}

img {
    height: 100px;
    width: 100px;
    margin-top: 20px;
}

.container {
    height: 130px;
    width: 400px;
    border-style: solid;
}

.top {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

button {
    height: 30px;
    width: 50px;
    border-style: solid;
    border-color: black;
    background-color: orange;
    box-shadow: 2px 2px;
    position: relative;
    bottom: 5px;
}

.this {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 40px;
}

.all {
    width: 703px;
    margin: auto;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

u {
    text-decoration: underline;
    color: blue;
}